.body-sub{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:0 12rem 0 6rem;
}
.footer .main-top{
    display: flex;
    justify-content: space-between;
}
.footer .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .rights{
    text-align: center;
    color:white;
    background-color:black;
    padding:1rem 0 1rem 0;
}
.footer  li{
    padding:0.5rem;
    font-size: 1.2rem;
    font-weight:normal;
    color:gray;
    list-style: none;
}
.footer .title-description{
    color:gray;
    padding:0.5rem 0;
}
.footer .social{
    padding-top:1.5rem;
}
.footer .icons
{
    display:flex;
    gap:2rem;
}
.footer .icon
{
    height:1.5rem;
    width:1.5rem;
}
.footer .iconfacebook
{
    height:1.5rem;   
}
.footer .bottom p{
    padding-left: 0.5rem;
    color:gray;
}
.footer .bottom .icon{
    height:1rem;
    width:1rem;
    
}
